__pycache__/
*.pyc
.DS_Store
*.swp
local_settings.py
.env
.venv/
venv/
*.log
/media
/staticfiles
*.pem
db.sqlite3
*.sqlite3

forum.service
gunicorn_start
nginx
ssmtp.conf
backup_postgres.sh
muttrc
/scripts

.dockerignore
docker-compose.yml
dockerfile